main{
    display: grid;
    grid-template-columns: 50px 1.5fr 2fr;
    height: 100vh; 
}

#area_da_imagem{
    height: 100%;
}

#sidebar_da_imagem {
    display: flex;
    flex-direction: row; /* itens lado a lado */
    align-items: center;
    gap: 15px;
    padding: 20px;
}

#imagem{
    width: 100%;
    height: auto;
}